@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'CircularStd'; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (max-width: 1150px) {
  .container {
    width: 90%; } }

@media only screen and (max-width: 900px) {
  .container {
    width: 100%; } }

@media only screen and (max-width: 760px) {
  .container {
    width: 100%; } }

.site-header {
  width: 100%;
  background-color: #5454d4;
  padding: 0.1px;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 10; }

.header-box {
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 0 auto; }

.logo {
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-decoration: none;
  font-weight: 900; }

.header-item {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  width: 250px; }

.header-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  padding: 7px 5px;
  transition: border 0.4s ease; }

.header-list .active {
  color: white; }

.header-list a:hover {
  color: white;
  border-color: white; }

.scroll-header {
  background-color: #2a2af3;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5); }

.cart {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none; }
  .cart h3 {
    font-weight: 400;
    text-transform: capitalize; }
  .cart span {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    border-radius: 50%;
    margin-left: 10px; }

.nav-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  display: none; }

.nav-icons {
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 3px; }

@media only screen and (max-width: 600px) {
  .header-box {
    position: relative;
    align-items: center;
    padding: 10px 20px; }
  .header-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #5454d4;
    left: 0;
    padding-bottom: 0;
    z-index: 10;
    height: 0;
    transition: background-color 0.3s ease; }
    .header-item a {
      font-size: 0; }
  .header-list {
    margin: 7px 0; }
  .cart {
    position: absolute;
    top: 130px;
    width: 100%;
    background-color: #5454d4;
    display: flex;
    justify-content: center;
    text-align: center;
    right: 0;
    height: 0;
    font-size: 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; }
    .cart h3 {
      transform: translateX(-30%); }
    .cart span {
      margin: 0;
      padding: 0;
      height: 0; }
  .nav-icon {
    display: block; }
  .bg {
    background-color: #2a2af3;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); }
  .bg1 {
    background-color: #2a2af3; } }

.nav-click {
  height: auto;
  font-size: 15px;
  padding-top: 0px; }
  .nav-click span {
    height: 30px; }
  .nav-click a {
    font-size: 17px; }

@media only screen and (max-width: 320px) {
  .header-box {
    padding: 8px; }
  .nav-icons {
    width: 15px;
    height: 2px;
    background-color: white;
    margin-bottom: 3px;
    border-radius: 3px; }
  .nav-click {
    height: auto;
    font-size: 14px;
    padding-top: 0px; }
    .nav-click span {
      height: 25px;
      width: 25px; }
    .nav-click a {
      font-size: 14px; } }

.top-section {
  background-color: #5454d4;
  padding-top: 80px;
  padding-bottom: 100px; }

.top-section-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.top-section-info h1 {
  color: white;
  font-size: 55px;
  line-height: 65px;
  width: 560px;
  margin: 0;
  margin-bottom: 15px; }

.top-section-info p {
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
  width: 536px;
  margin: 0; }

.price {
  background-color: #6565e9;
  border-radius: 10px;
  width: 320px;
  padding: 0 19px;
  padding-bottom: 5px;
  margin-top: 25px; }

.price-top {
  display: flex;
  align-items: center;
  margin: 0; }
  .price-top h2 {
    color: white;
    font-size: 55px;
    line-height: 65px;
    margin: 0; }
  .price-top a {
    display: inline-block;
    background: #77bf41;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 9px 9px 9px 14px;
    margin-left: 10px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; }
  .price-top a:hover {
    border-color: #77bf41;
    background-color: white;
    color: #77bf41; }

.add-cart {
  display: flex;
  margin-top: 20px; }
  .add-cart form {
    display: block;
    position: relative;
    width: 91px;
    height: 54px;
    z-index: 1; }
    .add-cart form input {
      display: inline-block;
      width: 91px;
      height: 54px;
      font-size: 21px;
      line-height: 25px;
      text-align: center;
      border: none;
      background-color: white;
      border-radius: 5px;
      outline: none; }
    .add-cart form button {
      position: absolute;
      right: 0;
      height: 27px;
      width: 28px;
      outline: none;
      cursor: pointer;
      border: none;
      background-color: #eae9f2;
      color: black;
      font-size: 19px;
      font-weight: 500; }
    .add-cart form .btn-1 {
      border-radius: 0px 5px 0px 0px; }
    .add-cart form .btn-2 {
      bottom: 0;
      border-radius: 0px 0px 5px 0px; }
    .add-cart form button:active {
      background-color: #bebdc4; }
  .add-cart a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    background-color: #fedc5a;
    display: inline-flex;
    align-items: center;
    padding: 0 40px;
    border-radius: 7px;
    margin-left: 18px; }

@media only screen and (max-width: 1150px) {
  .top-section h1 {
    font-size: 40px;
    line-height: 50px;
    width: 400px; }
  .top-section p {
    font-size: 17px;
    line-height: 24px;
    width: 450px; }
  .top-section-img {
    width: 320px;
    height: 500px; } }

@media only screen and (max-width: 900px) {
  .top-section {
    width: 100%;
    padding: 70px; }
    .top-section h1 {
      font-size: 29px;
      line-height: 38px;
      width: 280px; }
    .top-section p {
      font-size: 15px;
      line-height: 21px;
      width: 380px; }
  .top-section-img {
    width: 250px;
    height: 400px; }
  .top-section-info {
    margin-left: 30px; }
  .add-cart a {
    font-size: 15px; }
  .add-cart form {
    display: block;
    position: relative;
    width: 70px;
    height: 44px; }
    .add-cart form input {
      display: inline-block;
      width: 70px;
      height: 44px;
      font-size: 19px;
      line-height: 19px;
      outline: none; }
    .add-cart form button {
      height: 22px;
      width: 25px;
      font-size: 17px;
      font-weight: 500;
      text-align: left; }
  .price {
    width: 220px;
    padding: 0 14px;
    padding-bottom: 5px;
    margin-top: 18px; }
  .price-top {
    display: flex;
    align-items: center;
    margin: 0; }
    .price-top h2 {
      font-size: 40px;
      line-height: 50px; }
    .price-top a {
      padding: 5px 5px 5px 8px;
      font-size: 17px;
      line-height: 21px; } }

@media only screen and (max-width: 760px) {
  .top-section {
    padding-top: 80px; }
    .top-section h1 {
      font-size: 23px;
      line-height: 34px;
      width: 260px; }
    .top-section p {
      font-size: 13px;
      line-height: 19px;
      width: 270px; }
  .top-section-img {
    width: 220px;
    height: 340px; } }

@media only screen and (max-width: 600px) {
  .top-section {
    padding-bottom: 30; }
    .top-section h1 {
      font-size: 37px;
      line-height: 45px;
      width: 90%;
      text-align: center;
      margin-right: 20px; }
    .top-section p {
      font-size: 16px;
      line-height: 24px;
      width: 90%;
      text-align: center;
      margin-right: 20px; }
  .top-section-box {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .top-section-img {
    width: 290px;
    height: 450px;
    margin-bottom: 30px; }
  .top-section-info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .price {
    width: 280px;
    padding: 0 19px;
    margin-top: 25px; }
  .add-cart {
    margin-top: 20px; }
    .add-cart form {
      width: 91px;
      height: 54px; }
      .add-cart form input {
        width: 91px;
        height: 54px;
        font-size: 21px;
        line-height: 25px; }
      .add-cart form button {
        height: 27px;
        width: 28px;
        font-size: 19px;
        font-weight: 500; }
    .add-cart a {
      color: black;
      font-size: 21px;
      line-height: 25px;
      padding: 0 40px;
      margin-left: 18px; }
  #new {
    position: relative;
    right: 38px; } }

@media only screen and (max-width: 320px) {
  .top-section {
    padding-top: 80px; }
    .top-section h1 {
      font-size: 23px;
      line-height: 34px;
      width: 90%;
      margin: 0 auto; }
    .top-section p {
      font-size: 13px;
      line-height: 19px;
      width: 90%;
      margin: 0 auto; }
  .top-section-info {
    padding-right: 20px; }
  .top-section-img {
    width: 220px;
    height: 340px; }
  .add-cart {
    margin: 0;
    margin-top: 10px; }
    .add-cart a {
      font-size: 15px;
      margin-left: 5px;
      padding: 0 15px; }
    .add-cart form {
      display: block;
      position: relative;
      width: 60px;
      height: 44px; }
      .add-cart form input {
        display: inline-block;
        width: 60px;
        height: 44px;
        font-size: 17px;
        line-height: 19px;
        outline: none; }
      .add-cart form button {
        height: 22px;
        width: 20px;
        font-size: 15px;
        font-weight: 500;
        text-align: left; }
  .price {
    width: 210px;
    padding: 0;
    padding-left: 14px;
    padding-bottom: 5px;
    margin-top: 18px; }
  .price-top {
    display: flex;
    align-items: center;
    margin: 0; }
    .price-top h2 {
      font-size: 29px;
      line-height: 38px; }
    .price-top a {
      padding: 5px 5px 5px 8px;
      font-size: 13px;
      line-height: 19px; }
  #new {
    position: relative;
    left: -30px; } }

h1,
p {
  margin: 0; }

.get-section {
  width: 100%;
  background-color: transparent;
  padding: 100px 0; }

.get-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.get-section-info {
  display: flex;
  flex-direction: column; }
  .get-section-info h1 {
    font-size: 55px;
    margin: 0;
    margin-bottom: 15px;
    width: 484px; }
  .get-section-info p {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 20px;
    width: 515px; }

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 14px 20px;
  border: 1px solid #eae9f2;
  background-color: white;
  border-radius: 10px;
  width: 359px;
  margin-top: 15px;
  transition: box-shadow 0.4s ease; }
  .icon-link h4,
  .icon-link p {
    margin: 0; }
  .icon-link img {
    margin-right: 20px; }

.icon-box h4 {
  color: black;
  font-size: 19px; }

.icon-box p {
  color: #696871;
  font-size: 19px; }

.icon-link:hover {
  box-shadow: 0 0 7px 6px rgba(150, 150, 150, 0.4); }

.first {
  margin-top: 30px; }

.bitmap {
  transform: rotate(-15deg); }

@media only screen and (max-width: 1200px) {
  .get-section .get-box {
    justify-content: space-around;
    width: 85%; }
  .get-section h1 {
    font-size: 29px;
    line-height: 50px;
    width: 350px; }
  .get-section p {
    font-size: 15px;
    line-height: 24px;
    width: 350px; }
  .get-section .bitmap {
    width: 420px;
    height: 380px; }
  .icon-link {
    width: 300px;
    padding: 10px 15px; }
  .icon-box h4 {
    color: black;
    font-size: 15px; }
  .icon-box p {
    color: #696871;
    font-size: 15px; } }

@media only screen and (max-width: 900px) {
  .get-section .get-box {
    justify-content: space-around;
    width: 80%; }
  .get-section h1 {
    font-size: 23px;
    line-height: 38px;
    width: 280px; }
  .get-section p {
    font-size: 13px;
    line-height: 21px;
    width: 280px; }
  .get-section .bitmap {
    width: 300px;
    height: 280px; }
  .icon-link {
    width: 250px;
    padding: 10px; }
    .icon-link img {
      height: 30px;
      width: 30px; }
  .icon-box h4 {
    color: black;
    font-size: 15px; }
  .icon-box p {
    color: #696871;
    font-size: 15px; } }

@media only screen and (max-width: 750px) {
  .get-section .bitmap {
    width: 270px;
    height: 250px; } }

@media only screen and (max-width: 600px) {
  .get-section {
    display: flex;
    justify-content: center; }
    .get-section .get-box {
      align-items: center;
      flex-direction: column-reverse;
      width: 90%;
      margin: 0 auto; }
    .get-section h1 {
      font-size: 29px;
      line-height: 38px;
      width: 350px;
      text-align: center; }
    .get-section p {
      font-size: 15px;
      line-height: 21px;
      width: 350px;
      text-align: center;
      margin-bottom: 0; }
    .get-section .bitmap {
      width: 320px;
      height: 300px; }
  .get-section-info {
    align-items: center;
    margin-top: 30px; }
  .icon-link {
    width: 300px;
    padding: 10px 15px; }
  .icon-box h4 {
    color: black;
    font-size: 15px;
    width: 200px; }
  .icon-box p {
    color: #696871;
    font-size: 15px;
    text-align: left;
    width: 180px; }
  .first {
    margin-top: 10px; } }

@media only screen and (max-width: 450px) {
  .get-section .get-box {
    align-items: center;
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto; }
  .get-section h1 {
    font-size: 23px;
    line-height: 38px;
    width: 90%;
    text-align: center; }
  .get-section p {
    font-size: 13px;
    line-height: 21px;
    width: 90%;
    text-align: center;
    margin-bottom: 0; }
  .get-section .bitmap {
    width: 80%; }
  .icon-link {
    width: 250px;
    padding: 10px; }
    .icon-link img {
      margin-right: 10px; }
  .icon-box h4 {
    color: black;
    font-size: 15px;
    width: 200px; }
  .icon-box p {
    color: #696871;
    font-size: 15px;
    text-align: left;
    width: 180px; } }

.icons {
  background-color: #413e65;
  padding: 100px 0; }

.icons-box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .icons-box h1 {
    color: white;
    font-size: 55px;
    width: 509px;
    text-align: center; }

.icon-item {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 70px;
  justify-content: space-evenly; }
  .icon-item .icon-link {
    margin: 0 7px;
    margin-bottom: 30px;
    width: 330px;
    padding: 10px;
    padding-right: 0; }
    .icon-item .icon-link h4 {
      font-size: 18px; }
    .icon-item .icon-link img {
      margin-right: 10px; }

.icon-center {
  margin: 0 50px; }

@media only screen and (max-width: 1200px) {
  .icons-box {
    width: 90%;
    margin: 0 auto; }
    .icons-box h1 {
      font-size: 40px;
      width: 350px; }
  .icon-item .icon-link {
    width: 310px; }
    .icon-item .icon-link img {
      height: 38px;
      width: 38px; }
    .icon-item .icon-link h4 {
      font-size: 17px;
      font-weight: 700; }
  .icon-center {
    margin: 0 30px; } }

@media only screen and (max-width: 1100px) {
  .icons-box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .icon-item .icon-link {
    width: 260px;
    margin-left: 10px; }
    .icon-item .icon-link img {
      height: 35px;
      width: 35px; }
    .icon-item .icon-link h4 {
      font-size: 15px;
      font-weight: 500; }
  .icon-center {
    margin: 0 60px; } }

@media only screen and (max-width: 900px) {
  .icons {
    padding: 50px 0; }
  .icons-box {
    width: 90%;
    margin: 0 auto; }
    .icons-box h1 {
      font-size: 40px;
      width: 350px;
      margin-bottom: 40px; }
  .icon-item {
    width: 90%;
    margin: 0 auto; }
    .icon-item .icon-link {
      width: 280px; }
  .icon-center {
    margin: 0; } }

@media only screen and (max-width: 750px) {
  .icons {
    padding: 50px 0; }
  .icons-box {
    width: 100%;
    margin: 0 auto; }
    .icons-box h1 {
      font-size: 40px;
      width: 350px;
      margin-bottom: 30px; }
  .icon-item {
    width: 100%;
    margin: 0 auto; }
    .icon-item .icon-link {
      width: 250px; }
      .icon-item .icon-link h4 {
        font-size: 15px; }
      .icon-item .icon-link img {
        height: 30px;
        width: 30px; }
  .icon-center {
    margin: 0; } }

@media only screen and (max-width: 600px) {
  .icons {
    padding: 50px 0; }
  .icons-box {
    width: 90%; }
    .icons-box h1 {
      font-size: 29px;
      width: 250px;
      margin-bottom: 25px; }
  .icon-item {
    width: 80%; }
    .icon-item .icon-link {
      width: 280px;
      display: flex;
      justify-content: center; }
  .icon-center {
    margin: 0; } }

@media only screen and (max-width: 300px) {
  .icons {
    padding: 50px 0; }
  .icons-box {
    width: 90%; }
    .icons-box h1 {
      font-size: 29px;
      width: 230px;
      margin-bottom: 25px; }
  .icon-item {
    width: 80%; }
    .icon-item .icon-link {
      width: 250px;
      display: flex;
      justify-content: center; }
  .icon-center {
    margin: 0; } }

.music {
  margin-top: 30px;
  padding: 70px 0; }

.music-box {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .music-box h1 {
    color: black;
    font-size: 55px;
    text-align: center;
    margin-bottom: 15px; }
  .music-box p {
    color: #696871;
    font-size: 19px;
    line-height: 30px;
    width: 620px;
    text-align: center;
    margin-bottom: 50px; }

.img-box {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.music-img1 {
  transform: translateX(15%); }

.music-img2 {
  transform: translateX(-3%); }

@media only screen and (max-width: 1050px) {
  .music-box h1 {
    font-size: 40px; }
  .music-box p {
    font-size: 17px;
    width: 550px; }
  .music-img1 {
    height: 450px;
    width: 300px; }
  .music-img2 {
    width: 600px;
    height: 450px; } }

@media only screen and (max-width: 900px) {
  .music-box {
    width: 100%; }
    .music-box h1 {
      font-size: 29px; }
    .music-box p {
      font-size: 15px;
      width: 480px; }
    .music-box .img-box {
      width: 90%;
      margin: 0 auto; }
  .music-img1 {
    width: 30%;
    height: auto; }
  .music-img2 {
    width: 65%;
    height: auto; } }

@media only screen and (max-width: 600px) {
  .music {
    padding: 30px 0;
    margin-top: 20px; }
  .music-box h1 {
    font-size: 40px; }
  .music-box p {
    font-size: 17px;
    width: 90%; }
  .img-box {
    flex-direction: column;
    align-items: center; }
  .music-img1 {
    width: 60%;
    height: 500px;
    margin-right: auto;
    display: none; }
  .music-img2 {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 10%; } }

@media only screen and (max-width: 350px) {
  .music {
    padding: 20px 0;
    margin-top: 15px; }
  .music-box h1 {
    font-size: 29px; }
  .music-box p {
    font-size: 13px; } }

.people-section {
  width: 100%;
  background: linear-gradient(90deg, #5454d4 0%, #5454d4 25%, #0183be 40%, #0183be 100%); }

.people-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff; }
  .people-box h1 {
    font-size: 55px;
    line-height: 65px;
    width: 500px; }
  .people-box p {
    font-size: 19px;
    line-height: 30px;
    width: 515px;
    margin-bottom: 15px;
    margin-top: 20px; }

@media only screen and (max-width: 1150px) {
  .people-box {
    width: 90%; }
    .people-box h1 {
      font-size: 40px;
      line-height: 50px;
      width: 380px; }
    .people-box p {
      font-size: 17px;
      line-height: 24px;
      width: 400px; }
    .people-box img {
      width: 480px;
      height: 480px; } }

@media only screen and (max-width: 950px) {
  .people-box {
    width: 90%; }
    .people-box h1 {
      font-size: 29px;
      line-height: 38px;
      width: 300px; }
    .people-box p {
      font-size: 15px;
      line-height: 21px;
      width: 300px; }
    .people-box img {
      width: 400px;
      height: 400px; } }

@media only screen and (max-width: 750px) {
  .people-box {
    width: 95%; }
    .people-box h1 {
      font-size: 23px;
      line-height: 34px;
      width: 290px; }
    .people-box p {
      font-size: 13px;
      line-height: 19px;
      width: 290px; }
    .people-box img {
      width: 270px;
      height: 270px; }
    .people-box .buy-link {
      padding: 10px 25px;
      font-size: 15px; } }

@media only screen and (max-width: 600px) {
  .people-section {
    background: linear-gradient(180deg, #5454d4 0%, #5454d4 35%, #0183be 55%, #0183be 100%);
    padding-top: 30px; }
  .people-box {
    width: 100%;
    flex-direction: column;
    align-items: center; }
    .people-box .people-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .people-box h1 {
      font-size: 29px;
      line-height: 38px;
      width: 80%;
      text-align: center; }
    .people-box p {
      font-size: 15px;
      line-height: 21px;
      width: 80%;
      text-align: center; }
    .people-box img {
      width: 80%;
      height: auto; } }

@media only screen and (max-width: 450px) {
  .people-box h1 {
    font-size: 23px;
    line-height: 34px;
    width: 90%; }
  .people-box p {
    font-size: 13px;
    line-height: 19px;
    width: 90%; }
  .people-box img {
    width: 90%;
    height: auto; } }

.users {
  margin-top: 70px; }

.users-box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .users-box h1 {
    font-size: 55px;
    text-align: center; }
  .users-box p {
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    width: 515px;
    margin-top: 10px;
    color: #696871; }

.users-item {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 60px; }

.users-list a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 458px;
  height: 252px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #eae9f2;
  border-radius: 10px;
  color: #19191b;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  padding: 28px; }
  .users-list a .user-paragaraph {
    width: 400px;
    font-size: 19px;
    line-height: 30px;
    text-align: left; }

.users-list a:hover {
  box-shadow: 0 0 8px 5px rgba(139, 135, 135, 0.5); }

.user-info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }

.user-name-box {
  margin-left: 12px; }
  .user-name-box h4 {
    margin: 0;
    font-size: 19px; }
  .user-name-box span {
    font-size: 15px; }

.buttons {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center; }

.button-list > button {
  border: none;
  outline: none;
  background-color: #bebebe;
  cursor: pointer;
  width: 17px;
  height: 8px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.4s ease, width 0.4s ease; }

.button-list > button:hover {
  width: 50px;
  background-color: #5454d4; }

@media only screen and (max-width: 900px) {
  .users-box h1 {
    font-size: 40px; }
  .users-box p {
    font-size: 17px;
    width: 90%; }
  .users-list a {
    width: 380px;
    height: 230px;
    padding: 20px; }
    .users-list a .user-paragaraph {
      font-size: 17px;
      width: 350px;
      line-height: 24px; } }

@media only screen and (max-width: 750px) {
  .users-box h1 {
    font-size: 29px; }
  .users-list a {
    width: 280px;
    height: 200px;
    margin-top: 20px; }
    .users-list a .user-paragaraph {
      font-size: 15px;
      line-height: 21px;
      width: 260px; } }

@media only screen and (max-width: 600px) {
  .users-item {
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .users-list a {
    margin: 0 auto;
    margin-top: 10px;
    width: 70%;
    height: 200px; }
    .users-list a .user-paragaraph {
      width: 95%; }
  .user-name-box h4 {
    font-size: 17px; }
  .user-name-box span {
    font-size: 13px; } }

@media only screen and (max-width: 450px) {
  .users-box h1 {
    font-size: 29px; }
  .users-box p {
    font-size: 15px;
    width: 90%; }
  .users-list a {
    height: auto; }
    .users-list a .user-paragaraph {
      width: 95%;
      font-size: 13px; }
  .user-info-box img {
    height: 30px;
    width: 30px; }
  .user-name-box h4 {
    font-size: 13px; }
  .user-name-box span {
    font-size: 12px; } }

.buy {
  width: 100%;
  background-color: #5454d4;
  padding: 70px 0;
  margin-top: 100px; }

.buy-box {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .buy-box h1 {
    color: white;
    font-size: 55px;
    line-height: 65px; }

.buy-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #fedc5a;
  font-size: 19px;
  padding: 12px 40px;
  font-weight: 500;
  border-radius: 5px;
  transition: color 0.3s ease, box-shadow 0.4s ease; }

.buy-link:hover {
  box-shadow: 0 0 5px 4px rgba(254, 220, 90, 0.5);
  color: #585050; }

@media only screen and (max-width: 900px) {
  .buy-box {
    padding: 0 30px; }
    .buy-box h1 {
      font-size: 40px;
      line-height: 50px; } }

@media only screen and (max-width: 750px) {
  .buy-box {
    padding: 0 20px; }
    .buy-box h1 {
      font-size: 38px;
      line-height: 38px; }
  .buy-link {
    font-size: 17px;
    padding: 10px 30px; } }

@media only screen and (max-width: 600px) {
  .buy {
    padding: 50px 0; }
  .buy-box {
    flex-direction: column; }
    .buy-box h1 {
      text-align: center;
      margin-bottom: 30px; } }

@media only screen and (max-width: 450px) {
  .buy {
    padding: 30px 0; }
  .buy-box h1 {
    font-size: 29px;
    line-height: 38px;
    margin-bottom: 20px; } }

@media only screen and (max-width: 350px) {
  .buy {
    padding: 15px 0; }
  .buy-box h1 {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 10px; }
  .buy-link {
    padding: 7px 10px;
    font-size: 15px; } }

.site-footer .logo {
  color: black;
  margin-right: 20%; }

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto; }

.footer-item {
  list-style-type: none;
  padding: 0;
  display: flex; }

.footer-list a {
  text-decoration: none;
  color: black;
  margin: 0 10px; }

@media only screen and (max-width: 1100px) {
  .footer-box .logo {
    margin-right: 12%; }
  .footer-box p {
    font-size: 15px; }
  .footer-list a {
    font-size: 15px;
    margin: 0 6px; } }

@media only screen and (max-width: 900px) {
  .footer-box .logo {
    margin-right: 0%;
    font-size: 23px; }
  .footer-box p {
    font-size: 13px; }
  .footer-list a {
    font-size: 13px; } }

@media only screen and (max-width: 750px) {
  .footer-box {
    padding: 10px; }
    .footer-box p {
      font-size: 13px; }
  .footer-item {
    display: none; } }

@media only screen and (max-width: 350px) {
  .footer-box .logo {
    font-size: 19px; }
  .footer-box p {
    font-size: 11px; }
  .footer-item {
    display: none; } }
