@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'CircularStd';
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'CircularStd'; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto; }

.site-header {
  width: 100%;
  background-color: #5454d4;
  padding: 0.1px;
  position: fixed;
  top: 0; }

.header-box {
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0 auto; }

.logo {
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-decoration: none;
  font-weight: 900; }

.header-item {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  width: 250px; }

.header-list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  padding: 7px 5px;
  transition: border 0.4s ease; }

.header-list .active {
  color: white; }

.header-list a:hover {
  color: white;
  border-color: white; }

.scroll-header {
  background-color: #5454d4;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3); }

.cart {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none; }
  .cart h3 {
    font-weight: 400;
    text-transform: capitalize; }
  .cart span {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    border-radius: 50%;
    margin-left: 10px; }

.nav-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  display: none; }

.nav-icons {
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 3px; }

@media only screen and (max-width: 600px) {
  .header-box {
    position: relative;
    align-items: center;
    padding: 10px 20px; }
  .header-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #5454d4;
    left: 0;
    padding-bottom: 0;
    z-index: 10;
    height: 0;
    transition: height 0.5s ease; }
    .header-item a {
      font-size: 0;
      transition: font-size 0.5s ease; }
  .header-list {
    margin: 7px 0; }
  .cart {
    position: absolute;
    top: 130px;
    width: 100%;
    background-color: #5454d4;
    display: flex;
    justify-content: center;
    text-align: center;
    right: 0;
    height: 0;
    font-size: 0;
    transition: font-size 0.5s ease; }
    .cart h3 {
      transform: translateX(-30%); }
    .cart span {
      margin: 0;
      padding: 0;
      height: 0; }
  .nav-icon {
    display: block; } }

@media only screen and (max-width: 300px) {
  .header-box {
    padding: 8px; }
  .nav-icons {
    width: 15px;
    height: 2px;
    background-color: white;
    margin-bottom: 3px;
    border-radius: 3px; } }

.nav-click {
  height: auto;
  font-size: 15px;
  padding-top: 0px; }
  .nav-click span {
    height: 30px; }
  .nav-click a {
    font-size: 17px; }
