@import "_global";
@import "_variable";

.site-header {
	width: 100%;
	background-color: $active-color;
	padding: 0.1px;
	position: fixed;
	top: 0;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	z-index: 10;
}
.header-box {
	max-width: 1920px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
	margin: 0 auto;
}

.logo {
	font-size: 24px;
	line-height: 28px;
	color: white;
	text-decoration: none;
	font-weight: 900;
}

.header-item {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
	width: 250px;
}

.header-list {
	a {
		text-decoration: none;
		color: $text-color-light;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		text-transform: capitalize;
		margin-right: 20px;
		border-bottom: 2px solid transparent;
		padding: 7px 5px;
		transition: border 0.4s ease;
	}

	.active {
		color: white;
	}

	a:hover {
		color: white;
		border-color: white;
	}
}

.scroll-header {
	background-color: #2a2af3;
	box-shadow: 0 3px 7px rgba($color: #000000, $alpha: 0.5);
}

.cart {
	display: flex;
	align-items: center;
	color: $heading-color;
	font-size: 15px;
	line-height: 19px;
	text-decoration: none;

	h3 {
		font-weight: 400;
		text-transform: capitalize;
	}

	span {
		height: 30px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: gold;
		border-radius: 50%;
		margin-left: 10px;
	}
}

.nav-icon {
	display: flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	display: none;
}

.nav-icons {
	width: 25px;
	height: 3px;
	background-color: white;
	margin-bottom: 5px;
	border-radius: 3px;
}

@media only screen and (max-width: 600px) {
	.header-box {
		position: relative;
		align-items: center;
		padding: 10px 20px;
	}
	.header-item {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: $active-color;
		left: 0;
		padding-bottom: 0;
		z-index: 10;
		height: 0;
		transition: background-color 0.3s ease;
		a {
			font-size: 0;
		}
	}

	.header-list {
		margin: 7px 0;
	}
	.cart {
		position: absolute;
		top: 130px;
		width: 100%;
		background-color: $active-color;
		display: flex;
		justify-content: center;
		text-align: center;
		right: 0;
		h3 {
			transform: translateX(-30%);
		}
		span {
			margin: 0;
			padding: 0;
			height: 0;
		}

		height: 0;
		font-size: 0;
		transition: background-color 0.3s ease, box-shadow 0.3s ease;
	}
	.nav-icon {
		display: block;
	}

	.bg {
		background-color: #2a2af3;
		box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.5);
	}

	.bg1 {
		background-color: #2a2af3;
	}
}

.nav-click {
	height: auto;
	font-size: 15px;
	padding-top: 0px;

	span {
		height: 30px;
	}

	a {
		font-size: 17px;
	}
}

@media only screen and (max-width: 320px) {
	.header-box {
		padding: 8px;
	}

	.nav-icons {
		width: 15px;
		height: 2px;
		background-color: white;
		margin-bottom: 3px;
		border-radius: 3px;
	}

	.nav-click {
		height: auto;
		font-size: 14px;
		padding-top: 0px;

		span {
			height: 25px;
			width: 25px;
		}

		a {
			font-size: 14px;
		}
	}
}
//fineshed header
