//colors
$heading-color: white;
$active-color: #5454d4;
$text-color-dark: #696871;
$text-color-light: rgba(255, 255, 255, 0.7);
$heading-color-dark: black;

// size

$heading-size: 55px;
$text-size: 19px;
$text-size2: 21px;

// line-height
$heading-lh: 65px;
$text-lh: 30px;
$text-lh2: 25px;

// border-radius
$radius: 5px;
$radius2: 10px;

// meadia query (max-width: 1150px)
// size

$heading-size_m1: 40px;
$text-size_m1: 17px;
$text-size2_m1: 19px;

// line-height
$heading-lh_m1: 50px;
$text-lh_m1: 24px;
$text-lh2_m1: 21px;

//media query (max-width: 900px)
// size

$heading-size_m2: 29px;
$text-size_m2: 15px;
$text-size2_m2: 17px;

// line-height
$heading-lh_m2: 38px;
$text-lh_m2: 21px;
$text-lh2_m2: 19px;

//media query (max-width: 760px)
// size

$heading-size_m3: 23px;
$text-size_m3: 13px;
$text-size2_m3: 15px;

// line-height
$heading-lh_m3: 34px;
$text-lh_m3: 19px;
$text-lh2_m3: 17px;


// meadia query (max-width: 600px)
// size

$heading-size_m4: 37px;
$text-size_m4: 16px;
$text-size2_m4: 17px;

// line-height
$heading-lh_m4: 45px;
$text-lh_m4: 24px;
$text-lh2_m4: 21px;